<!DOCTYPE html>
<html>
<head>
  <title>Foodundo</title>
  

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <h1><%= link_to "Foodundo", root_path%></h1>
<%= form_tag restaurants_index_path , class: 'navbar-form navbar-left',method: 'get' do %>
     <%= text_field_tag :search,params[:search] %>
     <%= submit_tag "Search",class: 'btn btn-default',name: nil %>
     <%end%>
     <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<%= yield %>

</body>
</html>
