<h1>Add new Restaurant</h1>

<%= form_for(@hotels) do |f|  %>
	<p>
		<%= f.label :name %>
		<br>
		 <%= f.text_field :name  %>
		 <br>
		 <%= f.label :address %>
		 <br>
		 <%= f.text_field :address %>
		 <br>
		<!-- <%= f.label :city %>
		 <%= f.text_field :city %>-->
     <%= f.submit "Search",class: 'btn btn-default' %>
	</p>
	<% end %>

